* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Pacifico', cursive;
    background: rgb(216, 216, 216);
}


/* настройка лого */

.logo {
    background: greenyellow;
    width: 100%;
    display: flex;
    justify-content: center;
}


/* адаптивность лого */

.graphiclogo {
    padding: 5px;
    max-width: 100%;
    box-sizing: border-box;
}


/* размеры меню */

nav {
    margin: auto;
    width: auto;
    height: 100px;
}


/* меню */

.topnav {
    background-color: white;
    ;
    overflow: hidden;
}


/* элементы меню */

.topnav a {
    float: left;
    display: block;
    color: #ff0000;
    text-align: center;
    border-bottom: 4px solid white;
    padding: 14px 35px;
    text-decoration: none;
    font-size: 17px;
}


/* подчеркивание выбранного элемента меню */

.topnav a:hover {
    border-bottom: 4px solid red;
}


/* иконка меню */

.topnav .icon {
    display: none;
}


/* растяжение картинки на 100% ширины */

.main_image {
    width: 100%;
    border-radius: 5%;
}


/* выравнивание контейнера по центру */

.toy_kinds_container {
    display: flex;
    justify-content: center;
}


/* выравнивание списка элементов по центру с шириной в 70% и разрешением переноса элементов на новую строку */

.toy_kinds {
    width: 70%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

.toy_kinds h2 {
    color: rgb(124, 0, 0);
}


/* установка 30% ширины для каждого элемента */

.toy_kind {
    width: 30%;
    background-color: rgb(231, 231, 231);
    margin-bottom: 10px;
    border-radius: 5%;
}

.toy_kind img {
    width: 100%;
    border-radius: 5%;
}


/* установка стиля для футера сайта */

footer {
    width: 100%;
    height: auto;
    background: greenyellow;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
    display: block;
    justify-content: end;
}


/* установка стилей для ссылок в футере */

footer a {
    color: rgb(98, 0, 255);
    font-size: 16px;
    margin-left: 10px;
}


/* установка стиля элемента, на который навели курсор */

footer nav a:hover {
    border-bottom: 1px solid rgb(98, 0, 255);
}


/* стили для изображений соц. сетей в футере */

.social img {
    /* margin-top: 10px; */
    margin-left: 10px;
    margin-bottom: 30px;
}


/* обработка наведения курсора на футер */

.social img:hover {
    background: rgb(98, 0, 255);
    border-radius: 50%;
}


/* параметры контейнера изображений для вкладки markdown */

.gallery {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    margin-top: 10px;
}


/* параметры контейнера изображения для вкладки markdown */

.photo_item {
    width: 40%;
    margin-left: 5%;
    margin-bottom: 5%;
}


/* параметры изображения для вкладки markdown */

.photo_item img {
    box-sizing: border-box;
    max-width: 100%;
    opacity: 80%;
    border-radius: 5%;
}


/* обработка наведения курсора на изображение для вкладки markdown */

.photo_item img:hover {
    opacity: 100%;
}


/* параметры для заголовка */

h3 a {
    margin-left: 100px;
    font-size: 50px;
    padding-top: 20px;
    color: red;
    margin-bottom: 40px;
}


/* параметры для заголовка при наведении курсора */

h3 a:hover {
    font-style: oblique;
}


/* параметры контейнера слайдера  */

.slideshow-container {
    max-width: 90%;
    position: relative;
    margin: auto;
}


/* параметры слайда */

.mySlides {
    margin-left: 15%;
}


/* параметры кнопок "вперёд" и "назад" для слайдера  */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    background-color: rgb(99, 99, 99);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 5%;
}


/* параметры для кнопки "вперёд" */

.next {
    right: 0;
}


/* параметры кнопок "вперёд" и "назад" при наведении курсора */

.prev:hover,
.next:hover {
    background-color: rgb(98, 0, 255);
}


/* присвоение анимации постепенной смены цвета*/

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
    animation-name: fade;
}

.blocks-container {
    width: 70%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 10px;
    margin-left: 10%;
}

.toy-container {
    background: rgb(245, 241, 179);
    border-radius: 5%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 4px 2px -2px;
    font-weight: 100;
    margin-left: 10px;
    width: 25%;
    box-sizing: border-box;
    max-width: 100%;
    margin-bottom: 10px;
}

.block-cover img {
    width: 100%;
    border-radius: 5%;
}

.toy-container a:hover {
    border-color: seagreen;
}

.block-cover {
    border-radius: 5%;
    height: 15rem;
    box-shadow: inset rgba(0, 0, 0, 0.2);
}

.block-body {
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

.block-tytle h1 a {
    color: tomato;
    font-weight: 100;
}

.block-tags ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 0;
}

.block-tags li {
    margin-right: 0.5rem;
}

.block-tags a {
    border: 1px solid #999999;
    border-radius: 5%;
    color: #999999;
    font-size: 0.75rem;
    height: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: 1px;
    padding: 0 0.5rem;
    text-align: center;
    white-space: nowrap;
    width: 5rem;
}

.block-footer p {
    display: flex;
    flex: row wrap;
    justify-content: flex-end;
    padding-right: 3%;
}


/* настройка анимации постепенной смены цвета*/

@keyframes fade {
    from {
        opacity: 4
    }
    to {
        opacity: 1
    }
}


/* описание для экранов по ширине меньше, чем 700 px */

@media(max-width: 800px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    /* отображение иконки меню */
    .topnav a.icon {
        float: right;
        display: block;
    }
    nav {
        width: 100%;
        height: 100px;
    }
    /* сдвиг элементов меню  */
    .topnav.responsive {
        position: relative;
    }
    /* присвоение позиции для иконки меню */
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    /* блочное отображение элементов меню */
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .toy_kind {
        width: 45%;
    }
    .photo_item {
        width: 45%;
        margin-left: 10px;
    }
    .toy-container {
        width: 45%;
    }
}


/* обработка варианта, когда экран меньше 585px */

@media(max-width: 600px) {
    .toy_kinds {
        flex-direction: column;
    }
    .toy_kind {
        width: 100%;
    }
    .markdown {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .gallery {
        width: auto;
        margin: auto;
    }
    .photo_item {
        width: 70%;
        margin: 0 auto;
    }
    .blocks-container {
        flex-direction: column;
    }
    .toy-container {
        width: 100%;
    }
}